@import 'section/section.scss';
@import 'landing/landing.scss';
@import 'header/header.scss';

// @import 'typography.scss';
// @import 'button/button.scss';
// @import 'separator/separator.scss';
// @import 'collapse/collapse.scss';
// @import 'table/table.scss';
// @import 'grid/grid.scss';

.wrapper {
  height: 100%;
  width: 100%;
  color: black;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

