a {
  &.button {
    text-decoration: none;
    font-weight: 600;
    color: black;

    display: inline-block;
    width: 230px;
    background-color: #fff;
    mix-blend-mode: hard-light;
    opacity: 0.9;

    text-align: center;
    line-height: 45px;
    border-radius: 25px;
    text-transform: uppercase;
    position:relative;
  }
}

.button__wrapper {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: center; /* horizontal alignment */
}

.button__icon {
  position: absolute;
}