.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    color: rgb(24, 24, 24);
}

.container .content {
    padding: 60px 20% 40px 20%;

    div.section__body {
        line-height: 35px;
        font-weight:  normal;
        font-size: 18px;
        text-align: justify;
        text-justify: inter-word;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}

.theme-gray {
    background-color: #fbfbfb;
}

.theme-white {
    background-color: #ffffff;
}

.theme-blue {
    background-color: #193448;
    color: white;
    font-weight: 500;
}
