.landing {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  z-index: 2;
}

.landing .content {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-25%, -50%);
}

.content {
  h1 {
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 32px;
    mix-blend-mode: screen;
    opacity: 0.9;
  }
}

.landing,
.landing:before {
  background: 50% 50% / cover;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

#landing-video {
  position: fixed;
  z-index: 1;

  width: 100%;
  height: auto;
}

@media (min-aspect-ratio: 16/9) {
  #landing-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #landing-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #landing-video {
    display: none;
  }
  .landing {
    background: url("https://i.imgur.com/fsX8A4O.jpg");
    background-size: cover;
  }
}