@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.landing {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
}

.landing .content {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-25%, -50%);
}

.content {
  h1 {
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    line-height: 28px;
  }
}

.landing,
.landing:before {
  background: 50% 50% / cover;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url("https://i.imgur.com/fsX8A4O.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}